/*    Polices    */

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Light.otf") format("opentype");
    font-weight: 300
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Semibold.otf") format("opentype")
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Bold.otf") format("opentype")
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-RegularIt.otf") format("opentype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-LightIt.otf") format("opentype");
    font-weight: 300;
    font-style: italic
}

/*    Partie CSS    */

body {
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: ProximaNova, sans-serif;
    color: #546476;
}




/*    Partie menu    */

nav {
    background-color: #2caf90;
    display: flex;
    /*    justify-content: space-between;*/
    align-items: center;
    margin: 0px 0px;
    padding: 10px 10%;
}

nav img {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex: 1.2;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-size: 1.6pxem;
    margin-right: 13%;
    padding: 0;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
}

.gras {
    font-weight: 700;
}

nav ul li:last-child {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 1.5rem;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
}

nav ul li:last-child a {
    transition: 0.25s ease-in;
}

nav ul li:last-child:hover,
nav ul li:last-child:hover a {
    background-color: #fff;
    color: #1b2733;
    cursor: pointer;
}




/*    Partie section1    */

.section1 {
    background-color: #2caf90;
    color: #fff;
    display: flex;
    padding: 0 21%;
}

.section1 h1 {
    font-size: 44px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 50px;
}

.section1 .right img {
    max-width: 514px;
    padding-right: 10px;
}

.section1 .left {
    padding-right: 20px;
}

.section1 p.sous-texte {
    margin: 0;
    line-height: 30px;
}

.informations {
    display: flex;
    justify-content: flex-start;
    padding-top: 36px;
}

.premier-pas {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 2.2rem;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
    background-color: #fff;
    color: #2caf90;
    margin-right: 20px;
}

.contactez-nous {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 2.4rem;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.sponsors img {
    padding-top: 20px;
    width: 95px;
    border-width: 0px;
    border: 0px;
    opacity: 0.4;
}




/*    Partie section2    */

.section2 {
    margin-right: 231.5px;
    margin-left: 231.5px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    margin-top: -140px;
    margin-bottom: 100px;
}

.section2 .left,
.section2 .right {
    background-color: #fff;
    width: 50%;
    max-width: 50%;
    border-radius: 16px;
    box-shadow: 0 24px 32px 0 rgba(0,0,0,0.03), 0 8px 32px 0 rgba(0,0,0,0.06);
}

.section2 .left
 {
    margin-right: 13px;
}

.section2 .right {
    margin-left: 13px;
}

.section2 .partie-texte {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.section2 p {
    margin: 0;
}

.la-base {
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.85;
    padding: 3px 12px 0px 12px;
    width: auto;
    height: 24px;
    color: #8c97a1;
    background-color: #e0e2e4;
}

.exclu-lunchr {
    background-color: #2caf90;
    color: #fff;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.85;
    padding: 3px 12px 0 12px;
    width: auto;
    height: 24px;
}

.section2 h2 {
    color: #1b2733;
    font-weight: 800;
    margin: 0;
    font-size: 38px;
    line-height: 1.17;
    margin-top: 19px;
    margin-bottom: 30px;
}

.section2 p.informations {
    margin-bottom: 45px;
}

.section2 .left .images-superposees {
    display: table;
    box-sizing: border-box;
}

.section2 .left .background-img img {
    /*    box-sizing: content-box;*/
    width: 100%;
}

.section2 .left .background-img .premiere {
    margin-top: 40px;
}

.section2 .left .front-img img {
    width: 130px;
    height: 80px;
    position: absolute;
    margin-top: 69px;
    margin-left: 205px;
}

.section2 .left .gauche {
    position: absolute;
    width: 111px;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 95%);
}

.section2 .left .droite {
    position: absolute;
    width: 111px;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 110%);
    margin-left: 430px;
}

.section2 .bottom-part {
    display: grid;
    margin: 48px;
    margin-left: 59px;
    border-radius: 8px;
    border: solid 1px #e0e2e4;
    font-size: 14px;
    padding: 24px;
    margin-top: 91px;
}

.section2  .item1 {
    grid-column: 1;
    margin: auto;
}

.section2 .item2 {
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #1b2733;
}

.section2 .item3 {
    grid-column: 3;
    text-align: right;
}

.section2 .item3 p:first-child,.section2 .item6 p:first-child {
    color: #2caf90;
    font-weight: 700;
    line-height: 1.71;
}

.section2 .item3 p:last-child,.section2 .item6 p:last-child {
    color: #8c97a1;
    font-weight: 400;
    line-height: 1;
}

.section2 .item4 {
    grid-column: 1;
    margin: auto;
}

.section2 .item5 {
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #1b2733;
}

.section2 .item6 {
    grid-column: 3;
    text-align: right;
}

























