/*    Polices    */

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Light.otf") format("opentype");
    font-weight: 300
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Semibold.otf") format("opentype")
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-Bold.otf") format("opentype")
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-RegularIt.otf") format("opentype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "ProximaNova";
    src: url("https://cdn2.hubspot.net/hubfs/4364162/web/fonts/proximanova/ProximaNova-LightIt.otf") format("opentype");
    font-weight: 300;
    font-style: italic
}

/*    Partie CSS    */

body {
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: ProximaNova, sans-serif;
    color: #546476;
}




/*    Partie menu    */

nav {
    background-color: #2caf90;
    display: flex;
    /*    justify-content: space-between;*/
    align-items: center;
    margin: 0px 0px;
    padding: 10px 10%;
}

nav img {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex: 1.2;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-size: 1.6pxem;
    margin-right: 13%;
    padding: 0;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
}

.gras {
    font-weight: 700;
}

nav ul li:last-child {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 1.5rem;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
}

nav ul li:last-child a {
    transition: 0.25s ease-in;
}

nav ul li:last-child:hover,
nav ul li:last-child:hover a {
    background-color: #fff;
    color: #1b2733;
    cursor: pointer;
}




/*    Partie section1    */

.section1 {
    background-color: #2caf90;
    color: #fff;
    display: flex;
    padding: 0 21%;
}

.section1 h1 {
    font-size: 44px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 50px;
}

.section1 .right img {
    max-width: 514px;
    padding-right: 10px;
}

.section1 .left {
    padding-right: 20px;
}

.section1 p.sous-texte {
    margin: 0;
    line-height: 30px;
}

.informations {
    display: flex;
    justify-content: flex-start;
    padding-top: 36px;
}

.premier-pas {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 2.2rem;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
    background-color: #fff;
    color: #2caf90;
    margin-right: 20px;
}

.contactez-nous {
    border: solid 1px white;
    border-radius: 2.4rem;
    padding: 0 2.4rem;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.sponsors img {
    padding-top: 20px;
    width: 95px;
    border-width: 0px;
    border: 0px;
    opacity: 0.4;
}




/*    Partie section2    */

.section2 {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    margin: -140px 231.5px 100px;
}

.section2 .left,
.section2 .right {
    background-color: #fff;
    width: 50%;
    max-width: 50%;
    border-radius: 16px;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.03), 0 8px 32px 0 rgba(0, 0, 0, 0.06);
}

.section2 .left {
    margin-right: 13px;
}

.section2 .right {
    margin-left: 13px;
}

.section2 .partie-texte {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.section2 p {
    margin: 0;
}

.la-base {
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.85;
    padding: 3px 12px 0px 12px;
    width: auto;
    height: 24px;
    color: #8c97a1;
    background-color: #e0e2e4;
}

.exclu-lunchr {
    background-color: #2caf90;
    color: #fff;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.85;
    padding: 3px 12px 0 12px;
    width: auto;
    height: 24px;
}

.section2 h2 {
    color: #1b2733;
    font-weight: 800;
    margin: 0;
    font-size: 38px;
    line-height: 1.17;
    margin-top: 19px;
    margin-bottom: 30px;
}

.section2 p.informations {
    margin-bottom: 45px;
}

.section2 .left .images-superposees {
    display: table;
    box-sizing: border-box;
}

.section2 .left .background-img img {
    /*    box-sizing: content-box;*/
    width: 100%;
}

.section2 .left .background-img .premiere {
    margin-top: 40px;
}

.section2 .left .front-img img {
    width: 130px;
    height: 80px;
    position: absolute;
    margin-top: 69px;
    margin-left: 205px;
}

.section2 .left .gauche {
    position: absolute;
    width: 111px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 95%);
}

.section2 .left .droite {
    position: absolute;
    width: 111px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 110%);
    margin-left: 431px;
}

.section2 .bottom-part {
    display: grid;
    margin: 48px;
    margin-left: 59px;
    border-radius: 8px;
    border: solid 1px #e0e2e4;
    font-size: 14px;
    padding: 24px;
    margin-top: 91px;
}

.section2 .item1 {
    grid-column: 1;
    margin: auto;
}

.section2 .item2 {
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #1b2733;
}

.section2 .item3 {
    grid-column: 3;
    text-align: right;
}

.section2 .item3 p:first-child,
.section2 .item6 p:first-child {
    color: #2caf90;
    font-weight: 700;
    line-height: 1.71;
}

.section2 .item3 p:last-child,
.section2 .item6 p:last-child {
    color: #8c97a1;
    font-weight: 400;
    line-height: 1;
}

.section2 .item4 {
    grid-column: 1;
    margin: auto;
}

.section2 .item5 {
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #1b2733;
}

.section2 .item6 {
    grid-column: 3;
    text-align: right;
}




/*    Partie section3    */

.section3 {
    position: relative;
    background-image: url(https://cdn2.hubspot.net/hubfs/4364162/web/backgrounds/pattern-lines.svg);
    background-color: rgba(26, 38, 51, 0.1);
    background-position: -3% 0%;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    padding: 0px 400px 0;
    height: 677px;
    margin-bottom: 160px;
}

.section3 .left {
    display: flex;

}

.section3 .left .gauche {
    display: flex;
    flex-direction: column;
    margin-top: 135px;
}

.section3 .left .gauche img {
    width: 255px;
    height: 80px;
    margin-bottom: 8px;
}

.section3 .left .droite img {
    max-width: 761px;
    max-height: 721px;
    margin: 8px -21px -0px -160px;
    transform: scale(1.1);
}

.section3 .right {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    max-width: 420px;
    top: 135px;
    right: 400px;
    padding: 60px;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.03), 0 8px 32px 0 rgba(0, 0, 0, 0.06);
}

.section3 .right h2 {
    text-align: center;
    font-size: 38px;
    line-height: 1.17;
    font-weight: 800;
    color: #1b2733;
    margin: 0;
    margin-bottom: 40px;
}

.section3 .right ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.section3 .right li {
    position: relative;
    padding-left: 5rem;
    border-bottom: 1px solid #ededed;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    /*    color: #546476;*/
}

.section3 .right ul li span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin: 0;
}

.section3 .right li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e0e2e4;
    background-image: url(https://cdn2.hubspot.net/hubfs/4364162/web/backgrounds/check-white.svg);
    /*    transition: background 1s ease-in-out;*/
    background-color: #2caf90;

}




/*    Partie section4    */

.section4 {
    position: relative;
    background-position: -3% 0%;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    padding: 120px 400px;
}

.section4 .left {
    display: flex;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.03), 0 8px 32px 0 rgba(0, 0, 0, 0.06);
    border-radius: 1.6rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    margin-left: 100px;
    width: 700px;
    height: 500px;
    margin-right: 13px;
}

.section4 .left .img1 {
    width: 114px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: 22%;
    left: 33%;
    border-radius: 100px;
}

.section4 .left .img2 {
    width: 146px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: 10%;
    right: -30%;
}

.section4 .left .img3 {
    width: 114px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: 5%;
    left: -12%;
}

.section4 .left .img4 {
    width: 120px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: 14%;
    right: -19%;
}

.section4 .left .img5 {
    width: 120px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: -35%;
    left: 6%;
}

.section4 .left .img6 {
    width: 120px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: -45%;
    left: 0%;
}

.section4 .left .img7 {
    width: 146px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: -30%;
    left: 12%;
}

.section4 .left .img8 {
    width: 114px;
    border-width: 0px;
    border: 0px;
    position: relative;
    top: -45%;
    right: -37%;
}

.section4 .left ul {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-size: 16px;
}

.section4 .left .promotions li {
    background-color: #2246d9;
    color: #fff;
    position: relative;
    top: -200px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 10px;
}

.section4 .left li span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    color: #9aaeff;
    margin-bottom: 10px;
}

.section4 .right {
    margin-left: 100px;
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 60px;
}

.section4 .right h2 {
    font-weight: 800;
    margin: 0;
    color: #1b2733;
    font-size: 38px;
    line-height: 1.17;
}




/*    Partie section5    */

.section5 {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    margin: 0px 231.5px 00px;
    margin-bottom: 100px;
}

.section5 .left,
.section5 .right {
    background-color: #fff;
    width: 50%;
    max-width: 50%;
    border-radius: 16px;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.03), 0 8px 32px 0 rgba(0, 0, 0, 0.06);
}

.section5 .left {
    margin-right: 13px;
}

.section5 .right {
    margin-left: 13px;
}

.section5 .partie-texte {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    font-weight: 400;
    font-size: 18px;
    
}

.section5 .partie-texte a {
    color: #2caf90;
    text-decoration: none;
    cursor: pointer;
    
}

.section5 h2 {
    color: #1b2733;
    font-weight: 800;
    margin: 0;
    font-size: 38px;
    line-height: 1.17;
    margin-top: 19px;
    margin-bottom: 30px;
}

.section5 img {
    max-width: 100%;
}

.section5 .left .google,
.section5 .left .apple {
    width: 50px;
    align-self: center;
}

.section5 .partie-img {
    margin-top: 30px;
    padding-top: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section5 .left img {
    height: 171px;
    margin-left: 14px;
}

.section5 .left .apple {
    margin-right: 25px;
}

.section5 .left .google {
    margin-left: 25px;
}

.section5 .left .bottom-part {
    background-image: url(https://cdn2.hubspot.net/hubfs/4364162/web/backgrounds/pattern-small.png);
}

.section5 .left .partie-img {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);

}

.section5 .right .partie-img img {
    position: relative;
    height: 180px;
}

.section5 .right .img1 {
    left: 67.5%;
    bottom: 15px;
    transform: scale(0.9);
    opacity: .66;
}

.section5 .right .img3 {
    right: 67.5%;
    bottom: 30px;
    transform: scale(0.8);
    opacity: 0.33;
}

.section5 .right .img2 {
    z-index: 1;
}




/*    Partie section6    */

.section6 {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    margin: 60px 231.5px 0px;
}

.section6 .left {
    margin-bottom: 30px;
    margin-top: 40px;
    padding-right: 20px;
}

.section6 .left h2 {
    padding-right: 40px;
    font-weight: 800;
    margin: 0;
    color: #1b2733;
    font-size: 38px;
    line-height: 1.17;
}

.section6 .left p {
    padding-right: 40px
}

.section6 .left p span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
}

.section6 .right {
    display: flex;
}

.section6 .right .logo {
    width: 205px;
    margin-top: -60px;
}

.section6 .right .droite {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.section6 .right .droite img {
    width: 48px;
    min-width: 48px;
    min-height: 48px;
}

.section6 .right .message {
    display: inline-grid;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

.section6 .right .conseiller {
    grid-template-columns: auto 1fr;
}

.section6 .right .message2 {
    grid-template-columns: 1fr auto;
}

.section6 .right .message4 {
    grid-template-columns: auto auto;
    justify-content: flex-end;
}

.section6 .right .conseiller p {
    margin-left: 11px;
    background-color: #fff;
}

.section6 .right .cliente p {
    color: #fff;
    background-color: #2caf90;
}

.section6 .right .message img {
    margin-top: auto;
    margin-bottom: 15px;
}

.section6 .right .message p {
    margin-top: 0px;
    padding: 15px 24px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}






/*    Partie section7    */

.section7 {
    background-image: radial-gradient(circle at 77% 47%, #0c227d, #1b2733);
    border-radius: 16px;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.03), 0 8px 32px 0 rgba(0, 0, 0, 0.06);
    min-height: 320px;
    display: flex;
    align-items: center;
    margin: 60px 400px;
}

.section7 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 95px;
    width: 458px;
    padding-right: 95px;
}

.section7 .right img {
    max-width: 288px;
    max-height: 315px;
}

.section7 .right {
    display: flex;
    margin-top: auto;
}




/*    Partie section8    */

.section8 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.section8 h2 {
    margin-left: 231.5px;
    margin-right: 231.5px;
    padding-left: 165px;
    padding-right: 165px;
    text-align: center;
    font-size: 38px;
    line-height: 1.17;
    font-weight: 800;
    margin: 0;
    color: #1b2733;
}

.section8 .content-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 183.5px;
    margin-right: 183.5px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section8 .box {
    margin-left: 12px;
    margin-right: 12px;
    padding: 32px;
    display: flex;
    width: 424px;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(140,151,161,0.24);
    height: 410px;
    border-radius: 16px;
}

.section8 img {
    max-width: 48px;
    position: relative;
}

.section8 .box .top {
    display: flex;
}

.section8 .top img {
    position: relative;
}

.section8 .sabine .top .front, .section8 .romain .top .front, .section8 .camille .top .front {
    left: -23px;
    bottom: -8px;
    width: 30px;
}

.section8 .box .top p {
    margin: 0;
    color: #000;
    margin-left: -10px;
    font-size: 16px;
    font-weight: 600;
}

.section8 .box .top span {
    font-size: 14px;
    font-weight: 400;
}

.section8 figure {
    margin: 0;
}

.section8 .informations {
    margin: 28px 0 0;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    height: 1.6;
    padding: 0;
}




/*    Partie section9    */

.section9 {
    display: flex;
    justify-content: center;
}

.section9 .left {
    background-image: radial-gradient(farthest-side at 50% 50%,rgba(224,226,228,.45),rgba(224,226,228,0.45) 50%,rgba(224,226,228,.3) 50%,rgba(224,226,228,.3) 75%,rgba(224,226,228,.15) 75%,rgba(224,226,228,.15) 100%,#fff);
    margin-left: -170px;
}

.section9 img {
    max-width: 700px;
    max-height: 600px;
    margin-top: 70px;
}

.section9 h3 {
    line-height: 1;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: #1b2733;
    margin-bottom: 30px;
    margin-left: 170px;
}

.section9 .left p {
    margin: 0;
    margin-bottom: 19px;
    margin-left: 170px;
}

.section9 .right {
    width: 580px;
    margin-left: 18px;
}

.section9 .right ul {
    list-style: none;
}

.section9 .right li {
    font-size: 26px;
    font-weight: 700;
    color: #1b2733;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.section9 .right li span {
    font-size: 18px;
    display: inline-flex;
    color: #8c97a1;
    font-weight: 400;
    line-height: 1.6;
    
}




/*    Partie footer    */

footer {
    background-color: #1b2733;
    padding: 24px 400px 8px;
    margin-top: -10px
}

footer .top {
    padding-bottom: 24px;
    margin-bottom: 24px;
    line-height: 1;
    border-bottom: 1px solid rgba(84,100,118,0.32);
}

footer .bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

footer .div1 {
    
}

footer h4 {
    color: #e0e2e4;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
}

footer a {
    text-decoration: none;
    color: #8c97a1;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
}

footer .bottom .haut {
    margin-bottom: 32px;
}

footer .bottom .bas .logos {
    display: flex;
    justify-content: flex-start;
    border-width:0px;
    border:0px;
    margin: 0;
/*    color: #8c97a1;*/
}

footer .bottom .logos img {
    opacity: 0.6;
    max-width: 32px;
    max-height: 16px;
    margin-right: 20px;
}

footer .input1 {
    width: 50%;
    background-color: #1b2733;
    border: 1px solid rgba(84,100,118,0.32);
    color: #8c97a1;
    font-weight: 600;
    border-radius: 6px;
    font-size: 16px;
    padding: 1rem 0 1rem 1.5rem;
    height: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

footer .input2 {
    position: relative;
    right: 40px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(84,100,118,0.24);
    background-image: url(https://cdn2.hubspot.net/hubfs/4364162/web/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 14px 11px;
    background-position: center;
    color: transparent;
}

footer .div1 a {
    display: block;
}

footer .google, footer .apple {
    max-width: 160px;
}






